<div class="flex flex-col gap-6 pt-6 mobile:pt-0">
  <div class="flex justify-between items-center px-14 mobile:hidden">
    <h1 class="font-bold text-lg">LemBank.</h1>
    <app-button
      [buttonClasses]="
        'text-white bg-[#F86F03] border-[1px] border-solid rounded-lg px-12 py-2'
      "
      buttonTxt="Sign In"
      navigateTo="/login"
    ></app-button>
  </div>
  <div class="flex justify-between items-start pl-14 gap-44  mobile:flex-col-reverse mobile:px-0 mobile:gap-10">
    <ng-container *ngIf="data$ | async as data">
      <div class="flex flex-col gap-3.5">
        <h2 class="font-medium text-3xl text-[#5D5C61]">Sign up</h2>
        <!-- <p class="text-xs-center">
          <a routerLink="/login" routerLinkActive="router-link-active"
            >Have an account?</a
          >
        </p> -->

        <div class="border-t-2 border-solid border-gray-400">
          <lem-backend-error-messages
            *ngIf="data.backendErrors"
            [backendErrors]="data.backendErrors"
          >
          </lem-backend-error-messages>
          <form
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
            class="flex flex-col gap-5 py-5"
          >
            <!-- Username -->
            <div class="flex flex-col gap-2">
              <label for="username" class="form-label block mb-2"
                >Name & Last Name</label
              >
              <input
                type="text"
                id="username"
                class="border-[1px] border-solid border-gray-400 py-5 pl-7 pr-36 rounded-2xl"
                placeholder="Name & Last Name"
                formControlName="username"
              />
            </div>
            <!-- Email -->
            <div class="flex flex-col gap-2">
              <label for="email" class="form-label block mb-2">Email</label>
              <input
                type="text"
                id="email"
                class="border-[1px] border-solid border-gray-400 py-5 px-7 rounded-2xl"
                placeholder="Email"
                formControlName="email"
              />
            </div>

            <!-- Password -->
            <div class="flex flex-col gap-2">
              <label for="password" class="form-label block mb-2"
                >Password</label
              >
              <input
                type="password"
                id="password"
                class="border-[1px] border-solid border-gray-400 py-5 px-7 rounded-2xl"
                placeholder="Password"
                formControlName="password"
              />
            </div>
            <!-- <button
              type="submit"
              class="btn btn-lg btn-primary pull-xs-right mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              [disabled]="data.isSubmitting"
            >
              Sign Up
            </button> -->
            <app-button
              [buttonClasses]="
                'w-full text-white bg-[#F86F03] border-[1px] border-solid rounded-lg px-24 py-2 mt-9'
              "
              [buttonTxt]="'Sign Up'"
              [isDisabled]="data.isSubmitting"
              type="submit"
            >
            </app-button>
          </form>
        </div>
      </div>
    </ng-container>

    <img
      src="../../../../assets/auth/auth.png"
      alt=""
      class="w-[ 779px] rounded-3xl"
    />
  </div>
</div>
