@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

.decimal {
  font-size: 0.75em;
  color: gray;
}
